.app-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background-color: #24343d;
}


/* TODO LO QUE ESTA DEBAJO DEL NAVBAR */
.app-body {
  flex: 1;

  display: flex;

  min-height: 0;

  overflow: hidden;
}


/* AREA CENTRAL */
.contenido-principal {
  flex: 1;
  min-width: 0;

  padding: 10px;

  overflow-y: auto;

  background-color: #24343d;
  color: #ffffff;
}