.project-selector{

    position:relative;

}



.project-btn{

    height:40px;

    background:transparent;

    border:none;

    color:#10a5f5;

    cursor:pointer;

}





.project-panel{


    position:absolute;

    top:45px;

    right:0;

    width:380px;

    background:#111c22;

    border:1px solid #344650;

    border-radius:8px;

    padding:12px;

    z-index:1000;


}





.project-search{


    display:flex;

    align-items:center;

    gap:10px;

    background:#101b24;

    padding:8px 10px;

    border-radius:6px;


}



.project-search input{


    width:100%;

    background:none;

    border:none;

    outline:none;

    color:white;


}





.project-item{


    display:grid;

    grid-template-columns:1fr auto 25px;

    align-items:center;

    gap:10px;

    padding:7px 8px;

    border-radius:5px;

    color:white;


}



.project-item:hover{


    background:#24343d;


}





.project-name{


    font-size:14px;

    color:white;


}





.create-task-btn{


    background:none;

    border:none;

    color:#10a5f5;

    font-size:14px;

    cursor:pointer;

    padding:0;


}



.create-task-btn:hover{


    text-decoration:underline;


}





.project-item svg{


    color:#a8b5bd;


}





.create-project{


    width:100%;

    margin-top:10px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:8px;

    padding:8px;
     font-size:14px;


    background:#10a5f5;

    border:none;

    color:white;

    cursor:pointer;

}.project-info{

    display:flex;
    align-items:center;
    gap:10px;

}


.project-dot{

    width:8px;
    height:8px;
    border-radius:50%;

}


.project-name{

    color:#e5edf2;
    font-size:14px;

}.project-left{

    display:flex;
    align-items:center;
    gap:10px;

}


.project-dot{

    width:8px;
    height:8px;
    border-radius:50%;
    flex-shrink:0;

}


.project-name{

    font-size:14px;
    font-weight:500;
    white-space:nowrap;

}