.sidebar-container {
  position: relative;
  height: 100vh;
}
.ps-menu-root {
    padding-top: 10px !important;
}
.sidebar-header {
  height: 65px;

  display: flex;
  align-items: center;

  padding: 0 20px;

  color: #ffffff;
}

.sidebar-title {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;

  white-space: nowrap;
}


/* BOTON CONTRAER / EXPANDIR */

.sidebar-toggle {
  position: absolute;

  top: 40%;
  right: -5px;

  width: 22px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  border-radius: 2px;

  background-color: #1b2a32;
  color: #8fa4ae;

  cursor: pointer;

  z-index: 20;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.sidebar-toggle:hover {
  background-color: #263840;
  color: #ffffff;
}

/*LOGO*/
.sidebar-header {
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 12px;
}

.sidebar-logo {
  width: 170px;
  max-width: 100%;
  height: auto;

  object-fit: contain;

  transition: width 0.2s ease;
}

.sidebar-logo.collapsed {
  width: 42px;
}
.menu-section {
  margin-top: 22px;
  margin-bottom: 10px;

  padding-left: 20px;

  font-size: 13px;
  font-weight: 500;

  letter-spacing: 0.5px;

  color: #8fa4ae;
}

/* Reducir espacio general de los items */
.ps-menu-button {
    height: 42px !important;
    padding-left: 12px !important;
}


/* Reducir separación entre icono y texto */
.ps-menu-icon {
    min-width: 25px !important;
    margin-right: 3px !important;
}


/* Texto del menú */
.ps-menu-label {
    font-size: 14px !important;
    letter-spacing: -0.4px;
}
.informes-panel {

    position: fixed;

    left: 200px; /* ancho de tu sidebar */

    top: 203px; /* altura donde está INFORMES */

    width: 150px;

    background:#111c22;

    z-index:999;

    padding:10px 0;

    border-left:1px solid #263943;

}



.informes-item {

    height:40px;

    display:flex;

    align-items:center;

    padding-left:20px;

    color:#a9bcc7;

    font-size:14px;

}


.informes-title {

    padding:12px 20px 8px;

    color:#8ea0af;

    font-size:12px;

}

.informes-item:hover {

    background:#24343d;

    color:white;

}



.informes-item.active {

    background:#24343d;

}